#clientes-display {
  display: flex;
}

#clientes-container {
  margin: 2% 4% 0 0;
  width: 75%;
}

#clientes-titulo {
  border-bottom: 1px solid var(--cinza);
  margin-bottom: 3%;
  padding-bottom: 2.5%;
  font-size: 1.25rem;
}

#clientes-input {
  border-radius: 5px;
  border: 1px solid var(--cinza);
  padding: 1%;
  width: 36%;
  margin-right: 4%;
  font-size: 0.9rem;
}

#clientes-botao {
  border-radius: 5px;
  padding: 1%;
  width: 24%;
  margin-right: 4%;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--verde);
  border: 1px solid var(--azul-borda);
}

#clientes-botao.disabled,
#clientes-botao.disabled:hover {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

#clientes-botao:hover {
  background-color: var(--verde-hover);
}

#clientes-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3%;
}

.clientes-titulo-tabela,
.clientes-conteudo-tabela {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--cinza);
}

#clientes-sem-clientes {
  margin-top: 2%;
}

.relatorio-button {
  border-radius: 5px;
  padding: 1%;
  width: 24%;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 4%;
}

#relatorio-button-filtrar {
  background-color: var(--azul-borda);
  border: 1px solid var(--preto);
  color: var(--branco);
}

#relatorio-button-filtrar:hover {
  background-color: var(--azul-borda-hover);
}

#relatorio-button-exportar {
  background-color: var(--verde);
  border: 1px solid var(--azul-borda);
}

#relatorio-button-exportar:hover {
  background-color: var(--verde-hover);
}

#select-tabela-relatorios {
  padding: 1%;
  width: 24%;
  cursor: pointer;
  font-size: 0.9rem;
  border: 1px solid var(--preto);
}