.card-cliente-contatos {
    width: 47.5%;
    border: 1px solid var(--preto);
    border-radius: 7px;
}

.card-cliente-contatos-titulo {
    text-align: center;
    background-color: var(--azul-borda);
    color: var(--branco);
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid var(--preto);
    padding: 1.5%;
}

.card-cliente-contatos-container-conteudos {
    height: 16rem;
    overflow-y: scroll;
}

.card-cliente-contatos-conteudo {
    border-bottom: 1px solid var(--preto);
    padding: 1%;
    font-size: 0.8rem;
}