.card-cliente-contatos {
    width: 47.5%;
    border: 1px solid var(--preto);
    border-radius: 7px;
}

.card-cliente-contatos-titulo-btn {
    display: flex;
    width: 100%;
    background-color: var(--azul-borda);
    border-radius: 7px 7px 0 0;
    border-bottom: 1px solid var(--preto);
}

.card-cliente-contatos-titulo {
    text-align: end;
    color: var(--branco);
    padding: 1.5%;
    width: 65%;
}

.card-cliente-contatos-btn {
    width: 12.5%;
    margin-left: 15%;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--preto);
    color: var(--verde);
    cursor: pointer;
}

.card-cliente-contatos-btn.disabled,
.card-cliente-contatos-btn.disabled:hover {
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
}

.card-cliente-contatos-btn:hover {
    background-color: var(--preto-hover);
}

.card-cliente-contatos-container-conteudos {
    height: 16rem;
    overflow-y: scroll;
}

.card-cliente-contatos-conteudo {
    border-bottom: 1px solid var(--preto);
    padding: 1%;
    font-size: 0.8rem;
}