.pop-up-container-label-textarea {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.pop-up-container-label-textarea textarea {
  width: 100%;
  margin-top: 2%;
  border: 1px solid var(--cinza);
}