#grupo-economico-display {
  display: flex;
  margin-bottom: 4%;
}

#grupo-economico-container {
  margin: 2% 4% 0 0;
  width: 75%;
}

#grupo-economico-cabecalho {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cinza);
  margin-bottom: 2rem;
}

#grupo-economico-titulo-nome {
  font-size: 1.75rem;
  text-transform: capitalize;
}

#grupo-economico-titulo-razao {
  font-size: 1.25rem;
  color: var(--cinza);
  text-transform: capitalize;
}

#grupo-economico-btn-div {
  display: flex;
  gap: 8%;
}

#grupo-economico-botao-editar {
  border: 1px solid var(--preto);
  height: 30px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--verde);
}

#grupo-economico-botao-inativar {
  border: 1px solid var(--preto);
  height: 30px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--vermelho);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grupo-economico-botao-ativar {
  border: 1px solid var(--preto);
  height: 30px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--verde);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grupo-economico-botao-ativar:hover {
  background-color: var(--verde-hover);
}

#grupo-economico-botao-editar:hover {
  background-color: var(--verde-hover);
}

#grupo-economico-botao-inativar:hover {
  background-color: var(--vermelho-hover);
}

#grupo-economico-botao-editar.disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

#grupo-economico-subtitulo-contratos {
  font-size: 1.25rem;
}

#grupo-economico-tabela {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--preto);
  overflow: hidden;
}

#grupo-economico-tabela th,
#grupo-economico-tabela td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--preto);
}

#grupo-economico-tabela th {
  background-color: var(--preto);
  color: var(--branco);
}

#grupo-economico-tabela tbody {
  max-height: 20rem;
  overflow-y: scroll;
}

#grupo-economico-faturamento-mensal {
  width: 100%;
  background-color: var(--verde);
  padding: 1%;
  display: flex;
  justify-content: end;
  border: 1px solid var(--preto);
  border-radius: 0 0 7px 7px;
}

#grupo-economico-card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
}

.grupo-economico-contatos-container {
  display: flex;
  justify-content: space-between;
}

.clickable-row:hover {
  cursor: pointer;
  background-color: var(--azul-borda);
  color: var(--branco);
}

.inactive-contract {
  background-color: var(--cinza);
}

#grupo-economico-contatos-container-img {
  margin-top: 2.5rem;
}

#grupo-economico-img {
  width: 40%;
}
