#contratos-display {
  display: flex;
}

#contratos-container {
  margin: 2% 4% 0 0;
  width: 75%;
}

#contratos-titulo {
  border-bottom: 1px solid var(--cinza);
  margin-bottom: 3%;
  padding-bottom: 2.5%;
  font-size: 1.25rem;
}

#contratos-input {
  border-radius: 5px;
  border: 1px solid var(--cinza);
  padding: 1%;
  width: 36%;
  margin-right: 4%;
  font-size: 0.9rem;
}

.contratos-botao {
  border-radius: 5px;
  padding: 1%;
  width: 24%;
  cursor: pointer;
  font-size: 0.9rem;
}

#contratos-botao-add {
  margin-right: 4%;
  background-color: var(--verde);
  border: 1px solid var(--azul-borda);
}

#contratos-botao-add:hover {
  background-color: var(--verde-hover);
}

#contratos-botao-add.disabled,
#contratos-botao-add.disabled:hover {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

#contratos-botao-filtro,
#contratos-botao-limpar-filtros {
  background-color: var(--azul-borda);
  border: 1px solid var(--preto);
  color: var(--branco);
  cursor: pointer;
}

#contratos-botao-filtro:hover,
#contratos-botao-limpar-filtros:hover {
  background-color: var(--azul-borda-hover);
}

#contratos-tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3%;
}

.contratos-titulo-tabela,
.contratos-conteudo-tabela {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--cinza);
}

#contratos-sem-contratos,
.active-filters {
  margin-top: 2%;
}

#active-filters-container {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.active-filters-current {
  margin: 1% 0;
  padding: 1%;
  background-color: #d8d8d8;
  border-radius: 5px;
}