#navbar-preenchimento {
  width: 16%;
  height: 100vh;
  margin-right: 4%;
}

#navbar-container {
  background-color: var(--preto);
  width: 16%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

#logo-img {
  width: 100%;
  padding: 12.5%;
}

#navbar-links {
  display: flex;
  flex-direction: column;
}

#navbar-links .link,
#navbar-client {
  color: var(--branco);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 14%;
  font-size: 20px;
}

#navbar-links-client {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 14%;
  border-bottom: 1px solid var(--branco);
  border-top: 1px solid var(--branco);
}

#navbar-links,
#navbar-client {
  width: 80%;
  padding-left: 8%;
}

#navbar-btn {
  border: none;
  background-color: var(--preto);
  width: 85%;
  color: var(--branco);
  height: 10%;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}

#navbar-btn:hover {
  background-color: var(--preto-hover);
  cursor: pointer;
}

#navbar-nomeUsuario {
  font-size: 1rem;
}
