#switch-container {
    display: flex;
    margin: 8% 0 3% 0;
    width: 54%;
    justify-content: space-around;
    border-bottom: 1px solid var(--cinza);
}

.switch-item {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: var(--cinza);
    padding-bottom: 14px;
}

.switch-item.active {
    border-bottom: 1px solid var(--azul);
    color: var(--azul);
}