.solucoes-editar-btn {
    background-color: var(--verde);
}

.solucoes-editar-btn:hover {
    background-color: var(--verde-hover);
}

.solucoes-excluir-btn {
    background-color: var(--vermelho);
}

.solucoes-excluir-btn:hover {
    background-color: var(--vermelho-hover);
}

.solucoes-item-btn {
    border: 1px solid var(--preto);
    height: 30px;
    width: 60px;
    border-radius: 3px;
}

.solucoes-item-btn:hover {
    cursor: pointer;
}

.solucoes-container-btn {
    display: flex;
    gap: 4%;
}