#cadastro-contrato-descricao {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  color: var(--cinza);
  border-bottom: 1px solid var(--cinza);
}

#form-contrato-container {
  margin-top: 2.5rem;
}

#form-contrato-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#form-contrato-cliente-cpf-cnpj-container {
  border-bottom: 1px solid var(--cinza);
  padding-bottom: 1.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.form-contrato-label-input-container {
  display: flex;
  flex-direction: column;
}

.dois-inputs {
  width: 47.5%;
}

#input-desabilitado {
  background-color: var(--input-desabilitado);
}

.form-contrato-input {
  padding: 3%;
  border-radius: 5px;
  border: 1px solid var(--cinza);
  margin-top: 1.25rem;
}

.form-contrato-input-padding-menor {
  padding: 2%;
}

#form-cliente-input-email,
#form-cliente-input-descricao {
  padding: 1.5%;
}

.form-contrato-select {
  border-radius: 0;
}

.form-contrato-cliente-tres-inputs-container {
  display: flex;
  justify-content: space-between;
}

#form-cliente-container-input-descricao {
  height: 60%;
}

#form-cliente-input-descricao {
  height: 100%;
}

.tres-inputs {
  width: 30%;
}

.dropdown-list {
  list-style-type: none;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

#form-contrato-img {
  width: 30%;
  margin-right: 5%;
}

#form-contrato-container-email-descricao {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#form-contrato-container-btn {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 3%;
}