.cliente-card-gestor {
  width: 30%;
}

.cliente-card-gestor-titulo {
  text-align: center;
  background-color: var(--preto);
  color: var(--branco);
  border: 1px solid var(--preto);
  border-radius: 7px 7px 0 0;
  padding: 2.5%;
}

.card-cliente-gestor-container-conteudos {
  border: 1px solid var(--preto);
  border-radius: 0 0 7px 7px;
  padding: 2%;
}

.card-cliente-gestor-informacoes-gestor {
  padding: 2% 1%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.card-cliente-gestor-icone {
  padding-right: 3%;
}
