.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#cadastro-cliente-img {
  width: 80%;
}

#cadastro-cliente-img-div {
  display: flex;
  align-items: end;
  padding-bottom: 1.25rem;
}

.form h1,
.form h2 {
  margin-bottom: 1.25rem;
}

.form p {
  margin-bottom: 1.25rem;
}

.required {
  color: red;
}


.form-group {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.date-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-group input,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
  width: 80%;
}

.form-group input:first-child,
.form-group select:first-child {
  margin-right: 10px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  color: var(--preto);
  padding: 10px 1.25rem;
  border: 1px solid var(--preto);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: var(--vermelho-hover);
  color: white;

}

.submit-button {
  background-color: var(--verde);
  color: white;
  padding: 10px 1.25rem;
  border: 1px solid var(--preto);
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.submit-button:hover {
  background-color: var(--verde-hover);
  color: var(--preto);
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

