#cliente-cabecalho {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cinza);
  margin-bottom: 2rem;
}

#cliente-tabela {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--preto);
  overflow: hidden;
}

#cliente-tabela th,
#cliente-tabela td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--preto);
}

#cliente-tabela th {
  background-color: var(--azul-borda);
  color: var(--branco);
}

#cliente-tabela tbody {
  max-height: 20rem;
  overflow-y: scroll;
}

#cliente-faturamento-mensal {
  width: 100%;
  background-color: var(--verde);
  padding: 1%;
  display: flex;
  justify-content: end;
  border: 1px solid var(--preto);
  border-radius: 0 0 7px 7px;
}

#cliente-card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0;
}

.cliente-contatos-container {
  display: flex;
  justify-content: space-between;
}

#cliente-contatos-container-img {
  margin-top: 2.5rem;
}

#cliente-img {
  width: 40%;
}