#cadastro-fabricante-descricao {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  color: var(--cinza);
  border-bottom: 1px solid var(--cinza);
}

#cadastro-fabricante-form-container {
  margin-top: 2rem;
  display: flex;
}

#cadastro-fabricante-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

#cadastro-fabricante-input-labels {
  display: flex;
  flex-direction: column;
}

.cadastro-fabricante-input {
  padding: 2%;
  margin: 1rem 0 1.5rem 0;
  border: 1px solid var(--cinza);
}

#cadastro-fabricante-input {
  border-radius: 5px;
}

#cadastro-fabricante-select {
  background-color: var(--branco);
}

.cadastro-fabricante-container-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6%;
}

#cadastro-fabricante-container-img {
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: end;
}

#cadastro-fabricante-img {
  width: 65%;
}

.cadastro-fabricante-btn {
  width: 50%;
  padding: 2% 3%;
  border: 1px solid var(--preto);
  border-radius: 5px;
}

.cadastro-fabricante-btn:hover {
  cursor: pointer;
}

#cadastro-fabricante-btn-cancelar {
  background-color: var(--branco);
}

#cadastro-fabricante-btn-cancelar:hover {
  background-color: var(--branco-hover);
}

#cadastro-fabricante-btn-cadastrar {
  background-color: var(--verde);
}

#cadastro-fabricante-btn-cadastrar:hover {
  background-color: var(--verde-hover);
}
